<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tuvalu Culture</title>
    <meta name="description" content="description"/>
    <meta name="author" content="author" />
    <meta name="keywords" content="keywords" />
    <link rel="stylesheet" href="../style/stylesheet.css" type="text/css" />
    <style type="text/css">.body { width: auto; }</style>
  </head>
  <body>

    <div class="menuHolder">
    <header>
      <h1>Culture</h1>
      
  </header>

  <nav>
    <ul>
      <li><a href="index.html">Home</a></li>
      <li><a href="about.html">About</a></li>
      <li><a href="culture.html">Culture</a></li>
      <li><a href="tourism.html">Tourism</a></li>
    
    </ul>
  </nav>
  
</div>

<div class="images">

  <img class="tuvcult" src="../images/tuvcult.webp" alt="Tuvalu culture" style="height: auto; width: 20%;">

</div>


<section id="culture">
  <h2>Culture of Tuvalu</h2>
  <p>The culture of Tuvalu is rich in traditional dance, music, and art. The people of Tuvalu celebrate their heritage through various festivals and events.</p>
  <p>The Tuvaluan lifestyle has been Westernized to an extent, but Western-style amenities are few. Only Funafuti has a regular electricity supply; the government publishes a brief news sheet, but there is no newspaper; a few motion pictures are shown; satellite television service is available only by subscription; and there is only a single radio station. </p>
  <p>Most Tuvaluans live in villages of a few hundred people, tend their gardens, and fish from handcrafted canoes. Traditional music and dancing still enjoy a strong following, along with Western forms. Volleyball, football (soccer), and cricket are popular. Tuvaluan life, despite modernization, still rests on a firm traditional base that emphasizes the importance of community consensus and identity.</p>
  <p>The first settlers were from Samoa and probably arrived in the 14th century AD. Smaller numbers subsequently arrived from Tonga, the northern Cook Islands, Rotuma, and the Gilbert Islands. Niulakita, the smallest and southernmost island, was uninhabited before European contact; the other islands were settled by the 18th century, giving rise to the name Tuvalu, or “Cluster of Eight.”</p>
</section>

<footer>
  <p>&copy; 2024 Tuvalu Tourism. All rights reserved.</p>
</footer>

  </body>
</html>