<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tuvalu Tourism</title>
    <meta name="description" content="description"/>
    <meta name="author" content="author" />
    <meta name="keywords" content="keywords" />
    <link rel="stylesheet" href="../style/stylesheet.css" type="text/css" />
    <style type="text/css">.body { width: auto; }</style>
  </head>
  <body>


    <div class="menuHolder">
      <header>
        <h1>Tourism</h1>
        
    </header>
  
    <nav>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="culture.html">Culture</a></li>
        <li><a href="tourism.html">Tourism</a></li>
      
      </ul>
    </nav>
    
  </div>

  <div class="images">

    <img class="tuvboat" src="../images/tuvboat.webp" alt="Tuvalu boat" style="height: auto; width: 20%;">
  
  </div>

  <section id="tourism">
    <h2>Tourism in Tuvalu</h2>
    <p>Explore the beautiful beaches, coral reefs, and vibrant marine life that Tuvalu has to offer. Plan your trip to this hidden paradise.</p>
    <p>As one of the smallest and most remote nations in the world, this unspoiled corner of the Pacific offers a peaceful, and non-commercialized environment that is ideal for rest and relaxation. The spectacular marine environment consisting of a vast expanse of ocean interspersed with atolls, magnificent lagoons, coral reefs and small islands all provide a unique South Seas ambiance.</p>
  </section>

  <footer>
    <p>&copy; 2024 Tuvalu Tourism. All rights reserved.</p>
  </footer>

  </body>
</html>